/* Below are added for my project"*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  background-color: #2d2d2d;
  font-weight: 200;
}

.sidebar .logo {
  padding: 20px 20px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.sidebar .logo .logo-img {
  width: 34px;
  display: inline-block;
  height: 34px;
  margin-left: -2px;
  margin-top: -9px;
  margin-right: 10px;
  text-align: center;
  overflow: visible;
}

.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
  background-color: #2d2d2d;
}

.sidebar .log-name {
  display: inline-block;
  font-size: 30px;
  display: inline;
  font-weight: 900;
  margin-left: 20px;
  font-family: "Times New Roman";
  color: whitesmoke;
}
.sidebar .nav {
  margin-top: 20px;
}
.sidebar .nav li > a {
  color: #ffffff;
  margin: 5px 15px;
  border-radius: 4px;
}

.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.sidebar .nav i {
  font-size: 24px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  font-weight: 900;
  text-align: center;
  color: honeydew;
}
